@font-face {
  font-family: 'logpresso-icons';
  font-style: normal;
  font-weight: 400;
  src: url("/logpresso-icons.ed254b3a.eot?ad85b0792a4d9e1c70b6d8049b3ed609?#iefix") format("embedded-opentype"),
url("/logpresso-icons.3cb625c7.woff2?ad85b0792a4d9e1c70b6d8049b3ed609") format("woff2"),
url("/logpresso-icons.a1b3d2bf.woff?ad85b0792a4d9e1c70b6d8049b3ed609") format("woff");
}

.lp-icon, .lp-icons {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
}

.lp-icons {
  width: 1em;
  height: 1em;
  position: relative;
  fill: currentColor;
}

.lp-icon {
  font-family: 'logpresso-icons';
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

.lp-airplay:before { content: "\f101"; }
.lp-alert-circle:before { content: "\f102"; }
.lp-alert-octagon:before { content: "\f103"; }
.lp-alert-triangle:before { content: "\f104"; }
.lp-align-center:before { content: "\f105"; }
.lp-align-justify:before { content: "\f106"; }
.lp-align-left:before { content: "\f107"; }
.lp-align-right:before { content: "\f108"; }
.lp-analysis:before { content: "\f109"; }
.lp-anchor:before { content: "\f10a"; }
.lp-app:before { content: "\f10b"; }
.lp-arrow-down-left:before { content: "\f10c"; }
.lp-arrow-down-right:before { content: "\f10d"; }
.lp-arrow-down:before { content: "\f10e"; }
.lp-arrow-left:before { content: "\f10f"; }
.lp-arrow-right:before { content: "\f110"; }
.lp-arrow-up-left:before { content: "\f111"; }
.lp-arrow-up-right:before { content: "\f112"; }
.lp-arrow-up:before { content: "\f113"; }
.lp-at-sign:before { content: "\f114"; }
.lp-award:before { content: "\f115"; }
.lp-bar-chart-2:before { content: "\f116"; }
.lp-bar-chart:before { content: "\f117"; }
.lp-bell-off:before { content: "\f118"; }
.lp-bell:before { content: "\f119"; }
.lp-bluetooth:before { content: "\f11a"; }
.lp-book:before { content: "\f11b"; }
.lp-bookmark:before { content: "\f11c"; }
.lp-box:before { content: "\f11d"; }
.lp-briefcase:before { content: "\f11e"; }
.lp-burger-menu:before { content: "\f11f"; }
.lp-calendar-check:before { content: "\f120"; }
.lp-calendar-minus:before { content: "\f121"; }
.lp-calendar-plus:before { content: "\f122"; }
.lp-calendar-x:before { content: "\f123"; }
.lp-calendar:before { content: "\f124"; }
.lp-camera-off:before { content: "\f125"; }
.lp-camera:before { content: "\f126"; }
.lp-card-view:before { content: "\f127"; }
.lp-cast:before { content: "\f128"; }
.lp-check-circle:before { content: "\f129"; }
.lp-check-square:before { content: "\f12a"; }
.lp-check:before { content: "\f12b"; }
.lp-chevron-down:before { content: "\f12c"; }
.lp-chevron-left:before { content: "\f12d"; }
.lp-chevron-right:before { content: "\f12e"; }
.lp-chevron-up:before { content: "\f12f"; }
.lp-chevrons-down:before { content: "\f130"; }
.lp-chevrons-left:before { content: "\f131"; }
.lp-chevrons-right:before { content: "\f132"; }
.lp-chevrons-up:before { content: "\f133"; }
.lp-chrome:before { content: "\f134"; }
.lp-circle:before { content: "\f135"; }
.lp-clipboard:before { content: "\f136"; }
.lp-cloud-off:before { content: "\f137"; }
.lp-cloud:before { content: "\f138"; }
.lp-command:before { content: "\f139"; }
.lp-compass:before { content: "\f13a"; }
.lp-copy:before { content: "\f13b"; }
.lp-corner-down-left:before { content: "\f13c"; }
.lp-corner-down-right:before { content: "\f13d"; }
.lp-corner-left-down:before { content: "\f13e"; }
.lp-corner-left-up:before { content: "\f13f"; }
.lp-corner-right-down:before { content: "\f140"; }
.lp-corner-right-up:before { content: "\f141"; }
.lp-corner-up-left:before { content: "\f142"; }
.lp-corner-up-right:before { content: "\f143"; }
.lp-cpu:before { content: "\f144"; }
.lp-crosshair:before { content: "\f145"; }
.lp-cursor:before { content: "\f146"; }
.lp-database:before { content: "\f147"; }
.lp-decision:before { content: "\f148"; }
.lp-delete:before { content: "\f149"; }
.lp-disc:before { content: "\f14a"; }
.lp-download-cloud:before { content: "\f14b"; }
.lp-download:before { content: "\f14c"; }
.lp-droplet:before { content: "\f14d"; }
.lp-edit-2:before { content: "\f14e"; }
.lp-edit-3:before { content: "\f14f"; }
.lp-edit:before { content: "\f150"; }
.lp-export:before { content: "\f151"; }
.lp-external-link:before { content: "\f152"; }
.lp-eye-off:before { content: "\f153"; }
.lp-eye:before { content: "\f154"; }
.lp-fast-forward:before { content: "\f155"; }
.lp-file-minus:before { content: "\f156"; }
.lp-file-plus:before { content: "\f157"; }
.lp-file-text:before { content: "\f158"; }
.lp-file:before { content: "\f159"; }
.lp-film:before { content: "\f15a"; }
.lp-filter:before { content: "\f15b"; }
.lp-flag:before { content: "\f15c"; }
.lp-folder:before { content: "\f15d"; }
.lp-github:before { content: "\f15e"; }
.lp-globe:before { content: "\f15f"; }
.lp-grid-off:before { content: "\f160"; }
.lp-grid-on:before { content: "\f161"; }
.lp-grid:before { content: "\f162"; }
.lp-hash:before { content: "\f163"; }
.lp-heart:before { content: "\f164"; }
.lp-home:before { content: "\f165"; }
.lp-icon-03:before { content: "\f166"; }
.lp-icon-35:before { content: "\f167"; }
.lp-image:before { content: "\f168"; }
.lp-import:before { content: "\f169"; }
.lp-inbox:before { content: "\f16a"; }
.lp-info-circle:before { content: "\f16b"; }
.lp-input-user:before { content: "\f16c"; }
.lp-layer-bottom:before { content: "\f16d"; }
.lp-layer-center:before { content: "\f16e"; }
.lp-layer-horizontal:before { content: "\f16f"; }
.lp-layer-left:before { content: "\f170"; }
.lp-layer-middle:before { content: "\f171"; }
.lp-layer-right:before { content: "\f172"; }
.lp-layer-top:before { content: "\f173"; }
.lp-layer-vertical:before { content: "\f174"; }
.lp-layers:before { content: "\f175"; }
.lp-layout:before { content: "\f176"; }
.lp-life-buoy:before { content: "\f177"; }
.lp-link-2:before { content: "\f178"; }
.lp-link:before { content: "\f179"; }
.lp-list-ol:before { content: "\f17a"; }
.lp-list-view:before { content: "\f17b"; }
.lp-loader:before { content: "\f17c"; }
.lp-lock:before { content: "\f17d"; }
.lp-log-in:before { content: "\f17e"; }
.lp-log-out:before { content: "\f17f"; }
.lp-lookup:before { content: "\f180"; }
.lp-mail:before { content: "\f181"; }
.lp-map-pin:before { content: "\f182"; }
.lp-map:before { content: "\f183"; }
.lp-maximize-2:before { content: "\f184"; }
.lp-maximize:before { content: "\f185"; }
.lp-message-circle:before { content: "\f186"; }
.lp-message-square:before { content: "\f187"; }
.lp-mic-off:before { content: "\f188"; }
.lp-mic:before { content: "\f189"; }
.lp-minimize-2:before { content: "\f18a"; }
.lp-minimize:before { content: "\f18b"; }
.lp-minus-circle:before { content: "\f18c"; }
.lp-minus-square:before { content: "\f18d"; }
.lp-minus:before { content: "\f18e"; }
.lp-monitor:before { content: "\f18f"; }
.lp-moon:before { content: "\f190"; }
.lp-more-horizontal:before { content: "\f191"; }
.lp-more-vertical:before { content: "\f192"; }
.lp-move:before { content: "\f193"; }
.lp-music:before { content: "\f194"; }
.lp-navigation-2:before { content: "\f195"; }
.lp-navigation:before { content: "\f196"; }
.lp-octagon:before { content: "\f197"; }
.lp-package:before { content: "\f198"; }
.lp-pause-circle:before { content: "\f199"; }
.lp-pause:before { content: "\f19a"; }
.lp-percent:before { content: "\f19b"; }
.lp-pie-chart:before { content: "\f19c"; }
.lp-play-circle:before { content: "\f19d"; }
.lp-play:before { content: "\f19e"; }
.lp-playbook-other:before { content: "\f19f"; }
.lp-plus-circle:before { content: "\f1a0"; }
.lp-plus-square:before { content: "\f1a1"; }
.lp-plus:before { content: "\f1a2"; }
.lp-power:before { content: "\f1a3"; }
.lp-printer:before { content: "\f1a4"; }
.lp-quarterly:before { content: "\f1a5"; }
.lp-query:before { content: "\f1a6"; }
.lp-question-circle:before { content: "\f1a7"; }
.lp-radio:before { content: "\f1a8"; }
.lp-refresh-cw:before { content: "\f1a9"; }
.lp-refresh-time-ccw:before { content: "\f1aa"; }
.lp-refresh-time-cw:before { content: "\f1ab"; }
.lp-repeat:before { content: "\f1ac"; }
.lp-request-work-1:before { content: "\f1ad"; }
.lp-request-work-2:before { content: "\f1ae"; }
.lp-rewind:before { content: "\f1af"; }
.lp-rotate-ccw:before { content: "\f1b0"; }
.lp-rotate-cw:before { content: "\f1b1"; }
.lp-rotate-time-ccw:before { content: "\f1b2"; }
.lp-rotate-time-cw:before { content: "\f1b3"; }
.lp-run-query:before { content: "\f1b4"; }
.lp-save:before { content: "\f1b5"; }
.lp-scissors:before { content: "\f1b6"; }
.lp-screen-mode:before { content: "\f1b7"; }
.lp-search:before { content: "\f1b8"; }
.lp-security:before { content: "\f1b9"; }
.lp-server:before { content: "\f1ba"; }
.lp-settings:before { content: "\f1bb"; }
.lp-share-2:before { content: "\f1bc"; }
.lp-shuffle:before { content: "\f1bd"; }
.lp-skip-back:before { content: "\f1be"; }
.lp-skip-forward:before { content: "\f1bf"; }
.lp-slack:before { content: "\f1c0"; }
.lp-slash-circle:before { content: "\f1c1"; }
.lp-square:before { content: "\f1c2"; }
.lp-star:before { content: "\f1c3"; }
.lp-stop-circle:before { content: "\f1c4"; }
.lp-stopwatch:before { content: "\f1c5"; }
.lp-sun:before { content: "\f1c6"; }
.lp-tag:before { content: "\f1c7"; }
.lp-target:before { content: "\f1c8"; }
.lp-thumbs-down:before { content: "\f1c9"; }
.lp-thumbs-up:before { content: "\f1ca"; }
.lp-ticket:before { content: "\f1cb"; }
.lp-time:before { content: "\f1cc"; }
.lp-toggle-left:before { content: "\f1cd"; }
.lp-toggle-right:before { content: "\f1ce"; }
.lp-trash-2:before { content: "\f1cf"; }
.lp-trash:before { content: "\f1d0"; }
.lp-triangle:before { content: "\f1d1"; }
.lp-type:before { content: "\f1d2"; }
.lp-unlock:before { content: "\f1d3"; }
.lp-upload-cloud:before { content: "\f1d4"; }
.lp-upload:before { content: "\f1d5"; }
.lp-user-check:before { content: "\f1d6"; }
.lp-user-minus:before { content: "\f1d7"; }
.lp-user-plus:before { content: "\f1d8"; }
.lp-user-x:before { content: "\f1d9"; }
.lp-user:before { content: "\f1da"; }
.lp-users:before { content: "\f1db"; }
.lp-variable:before { content: "\f1dc"; }
.lp-volume-1:before { content: "\f1dd"; }
.lp-volume-2:before { content: "\f1de"; }
.lp-volume-x:before { content: "\f1df"; }
.lp-volume:before { content: "\f1e0"; }
.lp-vpn:before { content: "\f1e1"; }
.lp-watch:before { content: "\f1e2"; }
.lp-wifi:before { content: "\f1e3"; }
.lp-x-circle:before { content: "\f1e4"; }
.lp-x-square:before { content: "\f1e5"; }
.lp-x:before { content: "\f1e6"; }
.lp-zap:before { content: "\f1e7"; }
.lp-zoom-in:before { content: "\f1e8"; }
.lp-zoom-out:before { content: "\f1e9"; }


/*# sourceMappingURL=/logpresso-icons.03750e09.css.map */